{% extends "main/base.html"%}
{% load static %}

{% block title %}
  Список квартир
{% endblock title %}

{% block head %}
 <link href="{% static "css/list.css" %}" rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="container-fluid">
    
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'main:apartment_list' %}">Список квартир<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Отчеты</a></li>
            <li><a href="#">Анализ цен</a></li>
            <li><a href="#">Экспорт данных</a></li>
          </ul>
        </div>

        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
        {% block data %}
          <h2>Список квартир</h2>
          <div class="table-responsive">
            <table class="table table-condensed table-striped">
              <thead class="thead-inverse">
                <tr>
                  <th>№</th>
                  <th>Название</th>
                  <th>Цена</th>
                  <th>Время</th>
                  <th>Город</th>
                </tr>
              </thead>
              <tbody>
              {% for apartment in apartments %}
                <tr>
                  <td><a href="{% url 'main:apartmetn_detail' apartment.id %}">{{ apartment.id }}</p></td>
                  <td>{{ apartment.title }}</td>
                  <td>{{ apartment.price }}</td>
                  <td>{{ apartment.date_time }}</td>
                  <td>{{ apartment.city }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="pagination">
            <span class="step-links">
                {% if apartments.has_previous %}
                    <a href="?page={{ apartments.previous_page_number }}">Туды</a>
                {% endif %}

                <span class="current">
                    Страница {{ apartments.number }} из 
                    {{ apartments.paginator.num_pages }}
                </span>

                {% if apartments.has_next %}
                    <a href="?page={{ apartments.next_page_number }}">Сюды</a>
                {% endif %}
            </span>
          </div>
          
        </div>
      </div>
      {% endblock data%}
    </div>
{% endblock content%}