{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    {% block head %}
    {% endblock head%}
  </head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navs" aria-controls="navs" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="inner" id="navs">
              <h3 class="masthead-brand">APP</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Главная</a>
                <a class="nav-link" href="#">Статистика</a>
                <a class="nav-link" href="#">Отчеты</a>
                <a class="nav-link" href="#">О нас</a>
              </nav>
            </div>
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Analysis</h1>
            <h1 class="cover-heading">Apartment</h1>
            <h1 class="cover-heading">Prices</h1>
            
            <div class="container">
              <div class="row justify-content-sm-center">
                <div class="col-12 col-sm-3">Обновление данных о ценах на квартиры происходит раз 5 минут, что обеспечивает постоянную актуальную информацию для метрик.</div>
                <div class="col-12 col-sm-3">Результаты сбора данных производиться с сайтов Avito и  Domofond.</div>
                <div class="col-12 col-sm-3">На данный момент собранно информаций о (Кол-во) обьявлений</div>
              </div>
            </div>  
          
          </div>

          <div class="inner cover">
            <p class="lead">Описание проекта</p>          
          </div>

          <div class="mastfoot">
            <div class="container">
              <div class="row justify-content-sm-center">
                <div class="col-12 col-sm-3">Статистика</div>
                <div class="col-12 col-sm-3">Отчеты</div>
                <div class="col-12 col-sm-3">Проекты</div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  {% block script %}
  {% endblock script%}
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>